{% extends 'layout/default.html.twig' %}

{% block title %}Create Payment{% endblock %}

{% block content %}
    <div class="py-3 text-center">
        <h2>Create Payment</h2>
    </div>

    <div class="row p-3 bg-white rounded shadow-sm">
        <div class="col-md-12 order-md-1">
            {{ form_start(form) }}

            {{ form_row(form.value) }}
            {{ form_row(form.description) }}

            {{ form_row(form.save, {attr: {class: 'btn-primary btn-lg float-right'}}) }}

            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
{% endblock %}
