{% extends 'layout/default.html.twig' %}

{% block title %}{{ account.name }}{% endblock %}

{% block content %}
    <div class="py-3 text-center">
        <h1>{{ account.name }}</h1>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <div>
                        <p class="h5">Balance</p>
                    </div>
                    <div>
                        <p class="h2 font-light">
                            {{ account.value|centsToDollar|dollarFormat }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <div>
                        <p class="h5">Paid</p>
                    </div>
                    <div>
                        <p class="h2 font-light">
                            {{ summaryPaid|centsToDollar|dollarFormat }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <div>
                        <p class="h5">Pending Payment</p>
                    </div>
                    <div>
                        <p class="h2 font-light">
                            {{ summaryPendingPayment|centsToDollar|dollarFormat }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <div>
                        <p class="h5">In Draft</p>
                    </div>
                    <div>
                        <p class="h2 font-light">
                            {{ summaryDraft|centsToDollar|dollarFormat }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row p-3 mt-5 bg-white rounded shadow-sm">
        <div class="col-md-12 order-md-1">
            <h2 class="py-3">Account History</h2>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Description</th>
                    <th style="width: 100px">Value</th>
                    <th style="width: 160px">Created At</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>
                            {{ transaction.description }}
                        </td>
                        <td>
                            {% if transaction.type is constant("\\App\\Model\\Document\\AccountTransaction::TYPE_DEBIT") %}
                                +
                            {% endif %}
                            {% if transaction.type is constant("\\App\\Model\\Document\\AccountTransaction::TYPE_CREDIT") %}
                                -
                            {% endif %}
                            {{ transaction.value|centsToDollar|dollarFormat }}
                        </td>
                        <td>
                            {{ transaction.createdAt|date("d/m/Y H:i") }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
