{% extends 'layout/default.html.twig' %}

{% set title = 'Invoices' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="py-3 text-center">
        <h2>{{ title }}</h2>
    </div>

    <div class="row">
        <div class="col-md-12 order-md-1">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                {% for invoice in invoices %}
                    <tr>
                        <td>
                            {{ invoice.name }}
                        </td>
                        <td style="width: 100px">
                            {{ invoice.status.name }}
                        </td>
                        <td style="width: 100px">
                            {{ invoice.createdAt|date("d/m/Y") }}
                        </td>
                        <td style="width: 100px">
                            {{ invoice.total|centsToDollar|dollarFormat }}
                            <div>
                                {% if invoice.differenceOfTotals > 0 %}
                                    <sup style="color: green;">+{{ invoice.differenceOfTotals|centsToDollar }}</sup>
                                {% endif %}
                                {% if invoice.differenceOfTotals < 0 %}
                                    <sup style="color: red;">{{ invoice.differenceOfTotals|centsToDollar }}</sup>
                                {% endif %}
                            </div>
                        </td>
                        <td style="width: 200px">
                            {% if invoice.status.name is constant("\\App\\Model\\Document\\InvoiceStatus::NAME_DRAFT") %}
                                <a class="btn btn-primary btn-sm" title="Update"
                                   href="{{ path('invoice-update', {'id': invoice.id}) }}">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                            {% endif %}
                            <a class="btn btn-primary btn-sm" title="View"
                               href="{{ path('invoice-view', {'id': invoice.id}) }}">
                                <i class="far fa-eye"></i>
                            </a>
                            <a class="btn btn-primary btn-sm" title="Print" target="_blank"
                               href="{{ path('invoice-print', {'id': invoice.id}) }}">
                                <i class="fas fa-print"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
