{% extends 'print.html.twig' %}

{% block title %}{{ invoice.name }}{% endblock %}

{% block body %}
    <h2>{{ invoice.name }}</h2>

    <table class="table">
        <thead>
        <tr class="text-bold">
            <th scope="col">Task Name</th>
            <th scope="col" style="width: 150px">Task Total</th>
        </tr>
        </thead>
        <tbody>
        {% for task in invoice.tasks %}
            <!-- Task Item -->
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.total|centsToDollar|dollarFormat }}</td>
            </tr>
            <!-- /Task Item -->
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-3 offset-md-9 col-sm-12">
            <div class="table-responsive">
                <table class="table table-borderless text-right">
                    <tbody>
                    <tr>
                        <td>Subtotal:</td>
                        <td>
                            {{ invoice.total|centsToDollar|dollarFormat }}
                        </td>
                    </tr>
                    <tr>
                        <td class="h3">Total:</td>
                        <td class="h3">
                            {{ invoice.total|centsToDollar|dollarFormat }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
