{% extends 'layout/default.html.twig' %}

{% block title %}{{ form.vars.value.name }}{% endblock %}

{% block content %}
    <div class="py-3 text-center">
        <h2>Update "{{ form.vars.value.name }}"</h2>
    </div>

    <div class="row p-3 bg-white rounded shadow-sm">
        <div class="col-md-12 order-md-1">
            {{ form_start(form) }}

            {{ form_errors(form) }}

            {{ form_row(form.name) }}

            <hr class="mb-3">
            {% for task in form.tasks %}
                <!-- Task Item -->
                <div class="row mb-1">
                    <div class="col-md-1">
                        <div class="form-control-plaintext">
                            <a href="{{ task.vars.value.externalUrl }}" target="_blank">
                                #{{ task.vars.value.externalNumber }}
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        {{ form_row(task.name, {'help': 'Original: ' ~ task.vars.value.externalName }) }}
                    </div>
                    <div class="col-md-1">
                        <a href="{{ path('timeEntry-create', {'invoiceId': form.vars.value.id, 'taskId': task.vars.value.id}) }}"
                           class="btn btn-info" target="_blank">
                            <i class="far fa-plus-square"></i>
                        </a>
                    </div>
                    <div class="col-md-1 text-center">
                        <div class="form-control-plaintext">
                            {{ task.vars.value.total|centsToDollar|dollarFormat }}
                        </div>
                    </div>
                </div>

                <!-- Task Entry Header -->
                <div class="row mb-1">
                    <div class="col-md-9 text-right">
                        Developer
                    </div>
                    <div class="col-md-1 text-center">
                        Hours, h
                    </div>
                    <div class="col-md-1 text-center">
                        Rate, $
                    </div>
                    <div class="col-md-1 text-center">
                        Sum
                    </div>
                </div>
                <!-- /Task Entry Header -->

                {% for timeEntry in task.timeEntries %}
                    <!-- Task Entry Item -->
                    <div class="row mb-1">
                        <div class="col-md-3 offset-md-6">
                            {{ form_row(timeEntry.developerName, {
                                attr: {class: 'form-control-sm'},
                                help: 'from ' ~ timeEntry.vars.value.sourceName
                            }) }}
                        </div>
                        <div class="col-md-1">
                            {{ form_row(timeEntry.trackedHours, {
                                attr: {class: 'form-control-sm'},
                                help: 'Orig. ' ~ timeEntry.vars.value.originalTrackedHours
                            }) }}
                        </div>
                        <div class="col-md-1">
                            {{ form_row(timeEntry.hourlyRate, {attr: {class: 'form-control-sm'}}) }}
                        </div>
                        <div class="col-md-1">
                            <div class="form-control-plaintext form-control-sm text-center">
                                {{ timeEntry.vars.value.total|centsToDollar|dollarFormat }}
                            </div>
                        </div>
                    </div>
                    <!-- /Task Entry Item -->
                {% endfor %}

                <hr class="mb-3">
                <!-- /Task Item -->
            {% endfor %}

            <div class="row">
                <div class="col-md-4 offset-md-8 col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-borderless text-right">
                            <tbody>
                            <tr>
                                <td>Subtotal:</td>
                                <td>
                                    {{ form.vars.value.total|centsToDollar|dollarFormat }}
                                </td>
                            </tr>
                            <tr>
                                <td>Original Subtotal:</td>
                                <td>
                                    {{ form.vars.value.originalTotal|centsToDollar|dollarFormat }}
                                </td>
                            </tr>
                            <tr>
                                <td>Difference:</td>
                                <td>
                                    {{ form.vars.value.differenceOfTotals|centsToDollar|dollarFormat }}
                                </td>
                            </tr>
                            <tr>
                                <td class="h3">Total:</td>
                                <td class="h3">
                                    {{ form.vars.value.total|centsToDollar|dollarFormat }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group float-right">
                        {{ form_widget(form.save, {attr: {class: 'btn-primary btn-lg'}}) }}
                        <button type="button" class="btn btn-lg btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" style="position: absolute; transform: translate3d(77px, 38px, 0px); top: 0; left: 0; will-change: transform;">
                            {{ form_widget(form.save_and_publish, {attr: {class: 'dropdown-item'}}) }}
                        </div>
                    </div>
                </div>
            </div>

            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
{% endblock %}
