{% extends 'layout/default.html.twig' %}

{% block title %}{{ invoice.name }}{% endblock %}

{% block content %}
    <div class="py-3 text-center">
        <h1>Invoice Page</h1>

        <a class="btn btn-primary btn-sm" title="Print" target="_blank"
           href="{{ path('invoice-print', {'id': invoice.id}) }}">
            Print <i class="fas fa-print"></i>
        </a>
    </div>

    <div class="row p-3 bg-white rounded shadow-sm">
        <div class="col-md-12 order-md-1">

            <h2>{{ invoice.name }}</h2>

            <hr class="mb-3">
            {% for task in invoice.tasks %}
                <!-- Task Item -->
                <div class="row mb-1">
                    <div class="col-md-1">
                        <a href="{{ task.externalUrl }}" target="_blank">
                            #{{ task.externalNumber }}
                        </a>
                    </div>
                    <div class="col-md-10">
                        {{ task.name }}
                    </div>
                    <div class="col-md-1 text-center">
                        {{ task.total|centsToDollar|dollarFormat }}
                    </div>
                </div>

                <small>
                    <!-- Task Entry Header -->
                    <div class="row mb-1 font">
                        <div class="col-md-9 text-right">
                            Developer
                        </div>
                        <div class="col-md-1 text-center">
                            Hours, h
                        </div>
                        <div class="col-md-1 text-center">
                            Rate, $
                        </div>
                        <div class="col-md-1 text-center">
                            Sum
                        </div>
                    </div>
                    <!-- /Task Entry Header -->

                    {% for timeEntry in task.timeEntries %}
                        <!-- Task Entry Item -->
                        <div class="row mb-1">
                            <div class="col-md-9">
                                <div class="text-right">
                                    {{ timeEntry.developerName }}
                                </div>
                            </div>
                            <div class="col-md-1 text-center">
                                {{ timeEntry.trackedHours }}
                            </div>
                            <div class="col-md-1 text-center">
                                {{ timeEntry.hourlyRate }}
                            </div>
                            <div class="col-md-1">
                                <div class="text-center">
                                    {{ timeEntry.total|centsToDollar|dollarFormat }}
                                </div>
                            </div>
                        </div>
                        <!-- /Task Entry Item -->
                    {% endfor %}
                </small>

                <hr class="mb-3">
                <!-- /Task Item -->
            {% endfor %}

            <div class="row">
                <div class="col-md-3 offset-md-9 col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-borderless text-right">
                            <tbody>
                            <tr>
                                <td>Subtotal:</td>
                                <td>
                                    {{ invoice.total|centsToDollar|dollarFormat }}
                                </td>
                            </tr>
                            <tr>
                                <td>Original Subtotal:</td>
                                <td>
                                    {{ invoice.originalTotal|centsToDollar|dollarFormat }}
                                </td>
                            </tr>
                            <tr>
                                <td>Difference:</td>
                                <td>
                                    {{ invoice.differenceOfTotals|centsToDollar|dollarFormat }}
                                </td>
                            </tr>
                            <tr>
                                <td class="h3">Total:</td>
                                <td class="h3">
                                    {{ invoice.total|centsToDollar|dollarFormat }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <h2>Invoice Transactions</h2>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th style="width: 160px">Created At</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>
                            {{ transaction.createdAt|date("d/m/Y H:i") }}
                        </td>
                        <td>
                            {{ transaction.value|centsToDollar|dollarFormat }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
