{% extends 'layout/default.html.twig' %}

{% set title = 'New time entry for "' ~ task.name ~ '"' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="py-3 text-center">
        <h2>{{ title }}</h2>
    </div>

    <div class="row p-3 bg-white rounded shadow-sm">
        <div class="col-md-6 offset-md-3 order-md-1">
            {{ form_start(form) }}

            {{ form_errors(form) }}

            {{ form_row(form.developerName) }}
            {{ form_row(form.trackedHours) }}
            {{ form_row(form.hourlyRate) }}
            {{ form_row(form.sourceName) }}

            {{ form_row(form.save, {attr: {class: 'btn-primary btn-lg'}}) }}

            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
{% endblock %}
