{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('default') }}">Invoice Board</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09"
                aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('invoice-list') }}">
                        Invoices
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('account-view') }}">
                        Dashboard
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="navDropDownLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navDropDownLink">
                        <a class="dropdown-item" href="{{ path('account-view') }}">Dashboard</a>
                        <a class="dropdown-item" href="{{ path('account-refill') }}">Refill</a>
                        {#<div class="dropdown-divider"></div>#}
                        {#<a class="dropdown-item" href="#">Logout</a>#}
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <main role="main" class="container">
        {% block content %}Content is here!{% endblock %}
    </main>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2018-{{ "now"|date("Y") }} Voskobovich Inc.</p>
    </footer>
{% endblock %}
